<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    Oracle
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div  class="ion-text-center">
    <ion-text color="light">Posez une question et secouez votre mobile</ion-text>
  </div>
  <ion-grid >
    <ion-row >
      <img src="assets/oracle.png"/>
   
    
    </ion-row>
   <div class="response">
      <ion-text color="light" class="ion-text-center">
      {{response}}
    </ion-text>
  </div>
   
  </ion-grid>
  <ion-text ></ion-text>
</ion-content>

