<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Horoscope
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div  class="ion-text-center">
    <ion-text color="light">Choisissez un signe</ion-text>
  </div>
  <div class="zodiac">
  
  <ion-grid >
    
    <ion-row>
      <ion-col size="4" *ngFor="let sunsign of sunsigns; let index= index">
          <img *ngIf="3>index" [src]="sunsign.pic" (click)="openSign(sunsign.to)">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" *ngFor="let sunsign of sunsigns; let index= index">
        <img *ngIf="6>index && index>2" [src]="sunsign.pic" (click)="openSign(sunsign.to)">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" *ngFor="let sunsign of sunsigns; let index= index">
        <img *ngIf="9>index && index>5" [src]="sunsign.pic" (click)="openSign(sunsign.to)">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" *ngFor="let sunsign of sunsigns; let index= index">
        <img *ngIf="12>index && index>8" [src]="sunsign.pic" (click)="openSign(sunsign.to)">
      </ion-col>
    </ion-row>
 
  </ion-grid>
</div>
<ion-text>{{horoscop}}</ion-text>

</ion-content>
