<ion-content>
  <ion-grid>

    <app-manual-signin></app-manual-signin>
    <app-fbsignin></app-fbsignin>
    <app-google-signin></app-google-signin>
    <ion-row class="ion-justify-content-between ion-margin ion-padding ion-align-items-end">
      <ion-col size="12" class="ion-text-center ion-align-self-end"
      >
        <ion-button fill="clear" [routerLink]="['signup']">
          <ion-text>
            Nouveau sur Skye ?
          </ion-text>
          <ion-icon name="chevron-forward-outline"></ion-icon>
          
        </ion-button>
      </ion-col>
    </ion-row>

    
  </ion-grid>
</ion-content>
