<ion-content>

  <img src="assets/logo.png" class="ion-justify-content-between ion-margin ion-padding" />
  <ion-grid>    
    <ion-row class="ion-justify-content-between ion-margin-top ion-padding-top ion-align-items-end">
      <ion-col >
         
        <app-manual-signin></app-manual-signin>
        <app-fbsignin></app-fbsignin>
        <app-google-signin></app-google-signin>
    
        <ion-button fill="clear" expand="block" class="ion-padding ion-margin" [routerLink]="['signup']">
          <ion-text color="light">
            Nouveau sur Skye ?
          </ion-text>
          <ion-icon name="chevron-forward-outline" color="light"></ion-icon>
          
        </ion-button>
       
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
